@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  margin: 1.5rem;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}


@media (min-width: 980px) and (max-width: 1440px) {
  .whole-body{
    padding: 0.75rem;
    overflow-x: hidden;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar-button{
    background-color: #E8EFF2;
    color: #162542;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }

  .header-div-container{
    
  }

  .title-typemaster{
    border: solid 1px black;
  }

  .title-typemaster h1{
    color: #162542;
    font-weight: 900;
    font-size: 2.5rem;
  }

  .title-typemaster p{
    color:  #7B8BAD;
    font-weight: 700;
    font-size: 1rem;
  }

  .pre-order-container{
    display: flex;
    justify-content: space-between;
  }

  .pre-order-container #keyboard-pre-order-now{
    background-color: #F16718;
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }

  #keyboard-pre-order-now{
    color: #7B8BAD;
  }

  .keyboard #main-keyboard{

  }

  /* Phone-keyboard */

  .about{
    display: flex;
    
  }

  #about-h2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;
    margin: 142px 0px 0pc 125px;
  }

  .about-text p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 27px 0px 0pc 125px;
  }

  .image-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }

  .image-holder{
    background-color: #F16718;
    width: 15rem;
    height: 30rem;
    border-radius: 16px;
    margin: 30px 0px 0px 0px;
  }

  .image-holder #phone-keyboard{
    border-radius: 16px;
    width: 15rem;
    height: 30rem;
    opacity: 40%;
  }

  .image-wrapper #glass-keyboard {
    height: 30rem;
    width: 27rem;
    border-radius: 16px;
    margin: 30px 0px 0px 30px;
  }


  .rectangle-icons .icon-container {
    background-color: #F16718;
    width: 65px;
    height: 65px;
    border-radius: 16px;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50% auto;
  }

  .rectangle-icons-h3{
    width: 255px;
    height: 56px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    margin: 48px 0px 0px 0px;
  }

  p{
    width: 255px;
    height: 130px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 24px 0px 0px 0px;
  }
  

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 26px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
  }
}