@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

:root {
  --color-orange: #f16718;
  --color-orange-light: #ff9b62;
  --color-dark: #162542;
  --color-gray: #7b8bad;
  --color-light: #e8eff2;
  --color-white: #ffffff;
  --transition: all 0.3s linear;
}

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-style: normal;
  position: relative;
}

.whole-body {
  width: 80vw;
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.8s;
  padding-block: 1rem;
}

button {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 175px;
  height: 48px;
  border: none;
  transition: var(--transition);
}

#navbar-button {
  align-items: center;
  background-color: var(--color-light);
  color: var(--color-dark);
}

#navbar-button:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-block: 40px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-typemaster {
  width: 385px;
  height: 312px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.title-typemaster h1 {
  font-weight: 900;
  font-size: 50px;
  color: var(--color-dark);
}

.title-typemaster p {
  color: var(--color-gray);
}

.keyboard {
  max-width: 540px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.keyboard img {
  width: 100%;
}

.pre-order-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#keyboard-pre-order-now {
  text-transform: uppercase;
  background: var(--color-orange);
  color: var(--color-white);
}

#keyboard-pre-order-now:hover {
  background: var(--color-orange-light);
}

#release {
  background: none;
  color: var(--color-gray);
}

.about {
  width: 100%;
  max-height: 480px;
  display: flex;
  margin-block: 2rem;
}

.image-wrapper {
  display: flex;
  gap: 1rem;
}

#phone-keyboard {
  width: 255px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 10px;
  background: var(--color-orange);
}

#phone-keyboard img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

#glass-keyboard {
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: 445px;
}

#glass-keyboard img {
  width: 100%;
  height: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 16rem;
  height: 20rem;
  margin: auto;
}

.about-text h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.about-text p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.cards-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.rectangleContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 1rem;
}

.icon {
  width: 65px;
  height: 65px;
  background: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.rectangleContainer h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.rectangleContainer p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.empty-box1,
.empty-box2 {
  position: absolute;
  width: 255px;
  height: 236px;
  background: var(--color-light);
  border-radius: 20px;
}

.empty-box1 {
  right: -10rem;
  top: 7.5%;
}

.empty-box2 {
  left: -10rem;
  bottom: 36%;
}

footer {
  height: 8rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: var(--color-gray);
}

footer p {
  color: var(--color-dark);
  font-weight: bold;
}
