@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  margin: 1.5rem;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}


@media (min-width: 980px) and (max-width: 1440px) {
  .whole-body{
    padding: 0.75rem;
    overflow-x: hidden;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar-button{
    background-color: #E8EFF2;
    color: #162542;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }

  .header-div-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 83px 0px 0px 0px;
  }

  .title-typemaster{
    width: 445px;
    height: 312px;
  }

  
  .title-typemaster h1{
    width: 342px;
    height: 96px;
    color: #162542;
    font-weight: 900;
    font-size: 2.5rem;
  }

  .title-typemaster p{
    width: 429px;
    height: 68px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
  }

  .pre-order-container{
    display: flex;
    justify-content: space-between;
    margin: 42px 0px 0px 0px;
  }

   #keyboard-pre-order-now{
    background-color: #F16718;
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }
  
  #release{
    height: 11.5px;
    color: #7B8BAD;
    justify-self: center;
  }

  .keyboard #main-keyboard {
    width: 540px;
    height: 480px;
    border-radius: 16px;
    margin: 0pc 0px 0px 0px;
  }
  
  /* PHONE-KEYBOARD */
  .about{
    display: flex;
    
  }

  #about-h2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;
    margin: 142px 0px 0pc 125px;
  }

  .about-text p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 27px 0px 0pc 125px;
  }

  .image-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }

  .image-holder{
    background-color: #F16718;
    width: 15rem;
    height: 30rem;
    border-radius: 16px;
    margin: 30px 0px 0px 0px;
  }

  .image-holder #phone-keyboard{
    border-radius: 16px;
    width: 15rem;
    height: 30rem;
    opacity: 40%;
  }

  .image-wrapper #glass-keyboard {
    height: 30rem;
    width: 27rem;
    border-radius: 16px;
    margin: 30px 0px 0px 30px;
  }


  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .rectangle-icons .icon-container {
    background-color: #F16718;
    width: 65px;
    height: 65px;
    border-radius: 16px;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50% 0% 0% 0%;
  }

  .icon img{
    margin: 50% 50% 50% 50%;
  }

  .rectangle-icons-h3{
    width: 255px;
    height: 56px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    margin: 48px 0px 0px 0px;
  }

  p{
    width: 255px;
    height: 130px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 24px 0px 0px 0px;
  }

  .empty-box {
    width: 255px;
    height: 240;
    border-radius: 8px;
    background-color: #7B8BAD;
    position: absolute;
  }
  

  footer{
    display: flex;
    justify-content: center;
    width: 272px;
    height: 26px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 96px 0 0 0;
  }
}