@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  margin: 1.5rem;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}


/* TABLET DESIGN */
@media (min-width: 768px) and (max-width: 979px) {
  .whole-body{
    padding: 0.75rem;
    overflow-x: hidden;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #navbar-button{
    background-color: #E8EFF2;
    color: #162542;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }

  #navbar-button:hover{
    background-color: #162542;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }

  .header-div-container{
    margin: 64px 0 0 0;
  }

  .header-div-container h1{
    width: 21rem;
    height: 6rem;
    font-weight: 900px;
    font-size: 48px;
    line-height: 48px;
    color: #162542;
  }

  .header-div-container p{
    color: #7B8BAD;
    margin: 32px 0px 0px 0;
    font-size: 16px;
    font-weight: 78px;
    line-height: 1.6rem;
  }

  .pre-order-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #7B8BAD;
    margin: 4rem 0 0 0;
  }

  .pre-order-container #keyboard-pre-order-now{
    background-color: #F16718;
    border-radius: 0.5rem;
    width: 150px;
    height: 48px;
    font-weight: 700;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 0.2rem;
    color: #ffffff;
    border: none;
}

#keyboard-pre-order-now:hover{
  background-color: #FF9B62;
  border-radius: 8px;
  cursor: pointer;
}

#keyboard-pre-order-now:hover{
  background-color: #FF9B62;
  border-radius: 8px;
  cursor: pointer;
}
  
  
}


/* MOBILE DESIGN */
@media (max-width: 576px){
  .whole-body{
    padding: 0.75rem;
    overflow-x: hidden;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #navbar-button{
    background-color: #E8EFF2;
    color: #162542;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
  }

  #navbar-button:hover{
    background-color: #162542;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;

  }

  .header-div-container{
    margin: 64px 0 0 0;
  }

  .header-div-container h1{
    font-weight: 900;
    font-size: 3rem;
    color: #162542;
  }

  .header-div-container p{
    color: #7B8BAD;
    margin: 32px 0px 0px 0;
    line-height: 1.6rem;
  }

  .pre-order-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #7B8BAD;
    margin: 4rem 0 0 0;
  }

  .pre-order-container #keyboard-pre-order-now{
    background-color: #F16718;
    border-radius: 0.5rem;
    width: 150px;
    height: 48px;
    font-weight: 700;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 0.2rem;
    color: #ffffff;
    border: none;
  }

  #keyboard-pre-order-now:hover{
    background-color: #FF9B62;
    border-radius: 8px;
    cursor: pointer;
  }

  .keyboard{
  }

  .keyboard #main-keyboard{
    width: 372px;
    height: 331px;
    border-radius: 20px;
    margin: 64px 0px 0px 0px;
  }

  .about .image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image-holder{
    border-radius: 20px;
    background-color: #F16718;
    width: 8rem;
    height: 12rem;
    margin: 24px 0px 24px 0px;
  }

  .image-holder #phone-keyboard{
    border-radius: 20px;
    width: 8rem;
    height: 12rem;
    opacity: 40%;
    margin: 24px 0px 24px 0px;
}

.about #glass-keyboard{
  border-radius: 20px;
  background-color: #D8D8D8;
  width: 13rem;
  height: 12rem;
  margin: 24px 0px 0px 24px;
}

.about-text #about-h2{
  font-size: 1.5rem;
  font-weight: 900;
  color: #162542;
  text-transform: uppercase;
  text-align: center;;
  
}

.about-text p{
  color: #7B8BAD;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 500;
  margin: 24px 0 0 0;
  text-align: center;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F16718;
  width: 65px;
  height: 65px;
  border-radius: 20%;
  margin: 24px 0px 24px 0px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin: 24px 0px 24px 0px;
}

.rectangle-icons-h3{
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #162542;
  text-transform: uppercase;
  margin: 24px 0 0 0;
}
.rectangle-icons p{
  font-style: normal;
  color: #7B8BAD;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 500;
  margin: 24px 0 0 0;
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  color: #7B8BAD;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 96px 0 0 0;
}


}