@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

/* Navbar Design */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 58px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.pre-order-button {
  width: 175px;
  height: 58px;
  background: #e8eff2;
  border-radius: 8px;
}


/* Typemaster Keyboard */
.preOrder-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  overflow: hidden;
}

.info {
  background-color: #ffffff;
  width: 445px;
  height: 312px;
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  margin: 0px 0px 50px 0px;
}

.info .infoTitle {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: #162542;
  font-size: 56px;
  text-transform: uppercase;
}

.info p {
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #7b8bad;
}

.image-keyboard img {
  width: 540px;
  height: 480px;
  border-radius: 10px;
}

.box {
  position: absolute;
  width: 127.5px;
  height: 240px;
  left: 1235px;
  top: 100px;
  background-color: #e8eff2;
  border-radius: 20px;
}

.empty-box {
  position: absolute;
  width: 127.5px;
  height: 236px;
  right: 1265px;
  top: 800px;
  background-color: #e8eff2;
  border-radius: 20px;
}

.pre-order {
  display: flex;
  justify-content: space-around;
  margin: 50px auto 0 auto;
}

.Pre-order-now {
  background-color: #f16718;
  color: #ffffff;
  width: 175px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.release-date {
  color: #7b8bad;
}

/* Mechanical wireless keyboard */

.wireless-keyboard-info {
  display: flex;
  display: space-around;
  /* gap: 10px; */
  position: relative;
}

.phone-keyboard-display {
  width: 255px;
  height: 480px;
  border-radius: 20px;
  background: #f16718;
  margin: 0px 0px 0px 110px;
  overflow: hidden;
}

.phone-keyboard-display img {
  width: 100%;
  height: 100%;
  opacity: 20%;
}

.glass-keyboard img {
  width: 445px;
  height: 480px;
  border-radius: 20px;
  margin: 0px 0px 0px 30px;
}

.wireles-keyboard-text {
  width: 400px;
  height: 400px;
  margin-top: 70px;
}

.wireles-keyboard-text .mechnical {
  font-family: "Barlow", sans-serif;
  font-size: 50px;
  color: #162542;
  text-transform: uppercase;
  margin: 0px 0px 0px 50px;
}

.wireles-keyboard-text p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #7b8bad;
  margin: 30px 0px 0px 50px;
}

/* DESCRIPTION DESIGN*/
/* HIGHLY COMPATIBLE */
.description {
  display: flex;
  margin: 0px auto;
  width: 1110px;
  justify-content: center;
}
.highly-compatible-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 255px;
  margin: 24px 0px 0px 0px;
}

.highly-compatible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: #f16718;
  border-radius: 20px;
}

.highly-compatible > img {
  width: 25px;
  height: 20px;
}

.highly-compatible-container h1 {
  width: 255px;
  height: 56px;
  font-family: "Barlow";
  font-style: normal;
  margin: 24px 0 0 0;
  font-weight: 900;
  font-size: 24px;
  /* line-height: 28px; */
  text-transform: uppercase;
  color: #162542;
}

.highly-compatible-container p {
  width: 255px;
  height: 130px;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  /* line-height: 26px; */
  color: #7b8bad;
  font-style: normal;
}

/* WIRELESS KEYBOARD */
.wireless-bluetooth-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  width: 255px;
  margin: 24px 0px 0px 0px;
}

.wireless-bluetooth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16718;
  width: 65px;
  height: 65px;
  font-family: "Barlow";
  border-radius: 20px;
}

.wireless-bluetooth img {
  width: 17px;
  height: 27px;
}

.wireless-bluetooth-container h1 {
  width: 255px;
  height: 56px;
  font-family: "Barlow";
  font-style: normal;
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 48px 0 0 0;
}

.wireless-bluetooth-container p {
  width: 255px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  margin: 24px 0 0 0;
}

.high-capacity-battery-container {
  width: 255px;
  height: 56px;
}

.high-capacity-battery-container h1 {
  width: 255px;
  height: 56px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
  margin: 24px 0 0 0;
}

.high-capacity-battery-container p {
  width: 255px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  margin: 24px 0 0 0;
}

.high-capacity-battery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16718;
  width: 65px;
  height: 65px;
  border-radius: 20px;
  margin: 24px 0 0 0;
}

.rgb-mode-container {
  width: 255px;
  height: 323px;
}

.rgb-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: #f16718;
  border-radius: 20px;
  margin: 24px 0 0 0;
}

.rgb-mode-container h1 {
  width: 255px;
  height: 56px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
  margin: 48px 0 0 0;
}

.rgb-mode-container p {
  width: 255px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
}

.footer-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

footer {
  width: 272px;
  height: 26px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  margin: 128px 0px 0px 0px;
}

/*Tablet */

@media screen and (max-width: 768px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 689px;
        height: 58px;
      }

      .logo img {
        width: 40px;
        height: 40px;
      }

      .pre-order-button {
        width: 175px;
        height: 58px;
        background: #e8eff2;
        border-radius: 8px;
      }


      /* TYPEMASTER KEYBOARD */
      .preOrder-container {
        display: flex;
        justify-content: column;
        /* gap: 100px; */
        position: relative;
        overflow: hidden;
    }

        .info {
        background-color: #ffffff;
        width: 445px;
        height: 312px;
        font-family: "Barlow", sans-serif;
        font-size: 26px;
        /* margin: 0px 0px 50px 0px; */
    }

        .info .infoTitle {
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        color: #162542;
        font-size: 56px;
        text-transform: uppercase;
      }

      .info p {
        font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #7b8bad;
      }

      .image-keyboard img {
        width: 478px;
        height: 425px;
        border-radius: 10px;
      }

      .pre-order {
        display: flex;
        justify-content: space-around;
        margin: 50px auto 0 auto;
      }

      .Pre-order-now {
        background-color: #f16718;
        color: #ffffff;
        width: 175px;
        height: 58px;
        border-radius: 10px;
        border: none;
        text-align: center;
      }

      .release-date {
        color: #7b8bad;
      }

      /* Mechanical wireless keyboard */

.wireless-keyboard-info {
    display: flex;
    display: space-around;
    /* gap: 10px; */
    position: relative;
  }
  

      













































    
}

