
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");


@media (max-width: 768px){
  body{
    padding: 0px 0px 0px 39px;
    margin: 0;
    box-sizing: border-box;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 689px;
    margin: 30px 0px 0px 0px;
  }

  #navbar-button{
    background-color: #e8eff2;
    color: #162542;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.6rem;
    padding: 0.6rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .header-div-container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 62px 0 0 0px;
  }

  .title-container {
    width: 478px;
    height: 425px;
  }

  .title-typemaster h1{
    font-family: 'Barlow' sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #162542;
    margin: 60px 0 0 0;
  }

  .title-typemaster p{
    width: 21rem;
    height: 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #7b8bad;
    margin: 39px 0px 0px 0px;
  }

  .pre-order-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 39px 0px 0px 0px;
  }

  #keyboard-pre-order-now{
    width: 10rem;
    height: 2.6rem;
    background: #f16718;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
  }

  #release{
    width: 127px;
    height: 26px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #7B8BAD;
  }

  .keyboard #main-keyboard {
    width: 478px;
    height: 425px;
    border-radius: 16px;
    margin: 0px 0px 0px 69px;
  }

  .image-wrapper{
    display: flex;
    margin: 40px 0px 0px 0px;
  }

  .image-holder{
    width: 214px;
    height: 320px;
    border-radius: 16px;
    background-color: #f16718;
  }

  .about #phone-keyboard{
    width: 214px;
    height: 320px;
    border-radius: 16px;
    opacity: 30%;
  }

  .about #glass-keyboard {
    width: 445px;
    height: 320px;
    margin: 0px 0px 0px 39px;
    border-radius: 16px;
  }

  .about-text{
    display: flex;
    align-items: center;
  }

  .about-text #about-h2{
    width: 255px;
    height: 108px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;
}

  .about-text p{
    width: 398px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin: 82px 0px 0px 36px;
    position: absolute;
    left: 330px;
  }

  .cards-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 142px 0px 0px 0px;
  }

  .rectangleContainer{
    background-color: #f16718;
    width: 65px;
    height: 65px;
    border-radius: 8px;
  } 

   .icon-container{
    text-align: center;
  }

  .rectangle-icons-h3{
    width: 339px;
    height: 56px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    margin: 40px 0 0 0;
  }

  .rectangle-icons p{
    width: 281px;
    height: 104px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
  }

  footer {
    display: flex;
    justify-content: center;
    color: #7b8bad;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    margin: 96px 0 0 0;
  }

}