*{
    margin: 0;
    padding: 0;

}

.navbar .img{
    float: left;;
}

.navbar .order{
    background-color: #E8EFF2;
    width: 100px;
    height: px;
    /* position: absolute; */
    border-radius: 20px;
    text-align: center;
    padding: 14px 16px;
    float: right;
    Top: 55px;
    left: 165px;
}